{% extends "base.html" %}
{% load i18n %}
{% block content %}

<p>
Registration for the current events is closed, and for the new ones will be available soon.
<br/>
Регистрация на ближайшие мероприятия закрыта, а на новые - скоро начнётся</p>
<p>
{% trans 'If you have any questions please contact our Opening night Manager' %} <br/>
{% trans 'by calling +7 903 578 01 12' %}</p>
<p>
If you have any questions please contact our Opening night Manager <br/>
by calling +7 903 578 01 12 </p>

{% endblock %}
