{% extends "base.html" %}
{% load i18n %}
{% block content %}

{% if form.errors %}
<div class="error">
  <ul>
  {% for error in form.non_field_errors %}
     <li><strong>{{ error|escape }}</strong></li>
  {% endfor %}
  {% for field in form %}
    {% if field.errors %}<li><strong>'{{ field.label }}'</strong>: {{ field.errors|striptags }}</li>{% endif %}
  {% endfor %}
  </ul>
</div>
{% endif %}

<form action="{% url main.views.celeb %}" method="post">{% csrf_token %}
<table align="center" class="formTable" cellspacing="1" cellpadding="3">

<tr><th{% if form.l_name.field.required %} class="fieldRequired"{% endif %}><label for="id_l_name">{{ form.l_name.label }}:</label></th><td>{{ form.l_name }}</td></tr>
<tr><th{% if form.f_name.field.required %} class="fieldRequired"{% endif %}><label for="id_f_name">{{ form.f_name.label }}:</label></th><td>{{ form.f_name }}</td></tr>
<tr><th{% if form.s_name.field.required %} class="fieldRequired"{% endif %}><label for="id_s_name">{{ form.s_name.label }}:</label></th><td>{{ form.s_name }}</td></tr>
<tr><th{% if form.contact_phone.field.required %} class="fieldRequired"{% endif %}><label for="id_contact_phone">{{ form.contact_phone.label }}:</label></th><td>{{ form.contact_phone }}</td></tr>
<tr><th{% if form.assistant_person.field.required %} class="fieldRequired"{% endif %}><label for="id_assistant_person">{{ form.assistant_person.label }}:</label></th><td>{{ form.assistant_person }}</td></tr>
<tr><th{% if form.email.field.required %} class="fieldRequired"{% endif %}><label for="id_email">{{ form.email.label }}:</label></th><td>{{ form.email }}</td></tr>
<tr><th{% if form.tix_num.field.required %} class="fieldRequired"{% endif %}><label for="id_tix_num">{{ form.tix_num.label }}:</label></th><td>{{ form.tix_num }}</td></tr>
<tr><th{% if form.add_info.field.required %} class="fieldRequired"{% endif %}><label for="id_add_info">{{ form.add_info.label }}:</label></th><td>{{ form.add_info }}</td></tr>

</table><br/>
<input type="submit" class="formButton" value="{% trans 'Submit' %}"/>
</form>

{% endblock %}