{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}

<p>
{%if inv.sex = 'M' %}
    {% trans 'Dear Mr' %}
{% else %}
    {% trans 'Dear Mrs' %}
{% endif %} {{ inv.f_name }},
</p>
<p>
{% trans 'thank you for confirming your attendance to the Gala World Premiere on December 16 at Luzhniki Palace of Sport' %}.
</p>

<p>
{% trans 'Guests are invited from 18:00' %}<br/>
{% trans 'Performance starts at 19:00' %}
</p>

<p>
{% trans 'Your' %} {{ con.places_num }} {% trans 'ticket(s) will be delivered  to' %} <strong>{{ con.address }}</strong>
{% trans 'before December 14' %}.
</p>

{% if inv.parking_place = 'Y' %}
<p>
{% trans 'Driving directions to Luzhniki Palace of Sport' %}:
</p>
<p>
<img src="/static/images/ru-parking.jpg" width="700" height="509"/>
</p>
{% endif %}

<p>
{% trans 'If the tickets are not delivered to you before December 14, please, contact the Opening Night manager by phone +7 903 578-01-12' %}.
</p>

<br/><br/>
<p>{% trans 'With Best Regards' %},<br/>
&quot;Stage Entertainment&quot;</p>

{% endblock %}